<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <title>Vue instance property watch</title>
</head>
<body>
<div id="app">
    x : <input type="number" v-model="x"><br>
    y : <input type="number" v-model="y"><br>
    result : {{sum}}
</div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data() {
            return {
                x: 0,
                y: 0,
                sum: 0
            }
        },
        watch: {
            x(v) {
                console.log("## x 변경 감지");
                const result = Number(v) + Number(this.y);
                if (isNaN(result)) this.sum = 0
                else this.sum = result
            },
            y(v) {
                console.log("## y 변경 감지")
                const result = Number(v) + Number(this.x)
                if (isNaN(result)) this.sum = 0
                else this.sum = result
            }
        }
    })
</script>
</html>