<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
    <title>v-for template</title>
</head>
<body>
<div id="app">
    <table id="list">
        <thead>
        <tr>
            <th>번호</th><th>이름</th><th>전화번호</th><th>주소</th>
        </tr>
        </thead>
        <tbody id="contacts">
        <template  v-for="(contact, index) in contacts">
            <tr :key="contact.no">
                <td>{{index+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.tel}}</td>
                <td>{{contact.address}}</td>
                <button @click="changeUserName">다혜로 변경</button>
            </tr>
            <tr class="divider" v-if="index % 5===4">
                <td colspan="4" style="border: 1px solid black"></td>
            </tr>
        </template>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript">
    const model = {
        "pageno": 1,
        "pagesize": 10,
        "totalcount": 100,
        "contacts": [
            { "no": 100,"name": "설현", "tel": "010-3456-8299", "address": "서울" },
            { "no": 99, "name": "혜리", "tel": "010-3456-8298", "address": "서울" },
            { "no": 98, "name": "하니", "tel": "010-3456-8297", "address": "경기" },
            { "no": 97, "name": "성소", "tel": "010-3456-8296", "address": "제주" },
            { "no": 96, "name": "지아", "tel": "010-3456-8295", "address": "서울" },
            { "no": 95, "name": "정연", "tel": "010-3456-8294", "address": "강원" },
            { "no": 94, "name": "쯔위", "tel": "010-3456-8293", "address": "경기" },
            { "no": 93, "name": "사나", "tel": "010-3456-8292", "address": "서울" },
            { "no": 92, "name": "모모", "tel": "010-3456-8291", "address": "충남" },
            { "no": 91, "name": "소진", "tel": "010-3456-8290", "address": "서울" }
        ]
    }

    const app = new Vue({
        el : "#app",
        data : model,
        methods: {
            changeUserName() {
                this.contacts[1].name = "다혜"; // 왜 돼??
                // Vue.set(this.contacts, 2, {no:100, name: "다혜", tel:"010-0000-0020", address: "제주"})
            }
        }
    });
</script>
</html>